*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    
   
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.board
{
    height: 30rem;
    width: 30rem;
    box-shadow: #d89274b3 10px 8px 20px;
    margin: 10px;
    border-radius: 10px;
    display: grid;
  
}
.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 10px;
    
}
 input[type="button" ]{
    padding: 10px 50px;
    margin: 10px 16px;
    width: 100%;
    box-shadow: #d89274b3 3px 4px 11px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: #d4683a;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}
input[type="button" ],.color:hover{
    scale: 1.05;
}
.boardSection{
    text-align: center;
    color: #d4683a;
    font-weight: bold;
    line-height: 10px;
    font-size: 2rem;
}
#title{
    margin-bottom: 40px;
}
.color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: none;

}
.color::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
  }
.color::-moz-color-swatch {
    border-radius: 10px;
    border: none;
  }
  #range1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    height:10px;
    width: 100%;  
  }
 

 .button.activ{
    background-color:#d4683a;
    color:white;
 }

 input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #d4683a;
    border-radius: 5px;
 
  }
  input[type=range]::-moz-range-progress{
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #d4683a;
    border-radius: 5px;
 
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
 
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  @media screen and (max-width:768px) {
    .mainContainer{
      flex-direction: column-reverse;
    }
    
    
  }
  @media screen and (max-width:530px){
   
    .board{
      height: 20rem;
      width: 20rem;
      margin: 5px;
    }
  
    
  }
  
  
  
  